
/* 메인 */
#main {
    margin-top: 3.5em;
    text-align: center;
    color: white;
    margin-bottom: 360px; /* 아래쪽 여백 설정 */
}
/* 메인끝 */


.set {
    text-align: center;
    color: white;
}
.set > .title {
    font-size: 2.2em;
}
.set > .subtitle > .a {
    font-size: 1.5em;
}
.set > .subtitle > .b {
    margin-top: 0.5em;
    font-size: 1.3em;
    color: rgb(100, 100, 100);
}
.text {
    margin-top: 1.5em;
}
.text > .zoom {
    color: white;
    margin-top: 1.1em;
    margin-bottom: 1.25em;
    font-size: 2.2em;
    font-weight: bold;
    line-height: 125%;
}
.text > .zoom > img {
    width: 55%;
    min-width: 550px;
    max-width: 700px;
}
.text > .zoom {
    text-align: center;
}
.text > .zoom > #clt {
    font-size: 26px;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}
.text > .zoom > #clt > #clt3,
.text > .zoom > #clt > #clt3:after {
    font-size: 24px;
    color: rgb(150, 150, 200);
    text-decoration: none;
}
.text > .zoom > #clt > #clt3:hover {
    color: rgb(150, 150, 150);
}
