
/* 메인 */
#main {
    margin-top: 3.5em;
    text-align: center;
    color: white;
    margin-bottom: 360px; /* 아래쪽 여백 설정 */
}
/* 메인끝 */

#classset > #text {
    font-size: 25px;
    margin-bottom: 10px;
}
#classset > #input > #classnum {
    font-size: 90%;
    text-align: center;
    height: 70px;
    width: 145px;
    line-height: normal;
    padding: .8em .5em;
    border: 1px solid #999;
    border-radius: 0;  /* iSO 둥근모서리 제거 */
    outline-style: none;  /* 포커스시 발생하는 효과 제거를 원한다면 */
    -webkit-appearance: none;  /* 브라우저별 기본 스타일링 제거 */
    -moz-appearance: none;
    appearance: none;
    margin-bottom: 10px;
}