
/* 메인 */
#main {
    margin-top: 3.5em;
    text-align: center;
    color: white;
    margin-bottom: 360px; /* 아래쪽 여백 설정 */
}
/* 메인끝 */

#c {
    font-size: 25px;
}
#c > a:first-child {
    font-size: 30px;
    margin-bottom: 10px;
}
#c > a {
    line-height: 1.5em;
}
