
/* 메인 */
#main {
    margin-top: 3.5em;
    text-align: center;
    color: white;
    margin-bottom: 360px; /* 아래쪽 여백 설정 */
}
/* 메인끝 */

#time > #date {
    font-size: 30px;
    font-weight: bold;
}
#meal > #kcal {
    font-size: 25px;
}
#meal > #meal_list {
    font-size: 25px;
}
