
/* 메인 */
#main {
    margin-top: 3.5em;
    text-align: center;
    color: white;
    margin-bottom: 360px; /* 아래쪽 여백 설정 */
}
/* 메인끝 */

.set {
    text-align: center;
    color: white;
}
.set > .title {
    font-size: 2.2em;
}
.set > .subtitle > .a {
    font-size: 1.5em;
}
.set > .subtitle > .b {
    margin-top: 0.5em;
    font-size: 1.1em;
    color: rgb(70, 70, 70);
}

.set > .id > input {
    margin-top: 1.1em;
    width: 9.3em;
    height: 1.6em;
    font-size: 220%;
    text-align: center;
}
.set > .ok > input {
    margin-top: 0.5em;
    border: 2px solid rgb(125, 125, 125);
    color: white;
    cursor: pointer;
    padding: 0.175em 0.55em;
    font-size: 1.6em;
    font-weight: bold;
    background-color: #12242c;
}
.set > .ok:after {
    content: '';
    clear: both;
    display: ruby;
}
.set > .ok > input:not(:last-child) {
    border-right: none;
}
.set > .ok > input:hover {
    background-color: #071216;
}

.text {
    margin-top: 1.5em;
}
.text > .zoom {
    color: white;
    margin-top: 1.1em;
    margin-bottom: 1.25em;
    font-size: 2.2em;
    font-weight: bold;
    line-height: 125%;
}
.text > .zoom,
.text > .subject {
    text-align: center;
}
.text > .subject > .button > input {
    width: 7em;
    border: 2px solid rgb(182, 182, 182);
    color: white;
    cursor: pointer;
    padding: 17px 10px;
    font-size: 100%;
    font-weight: bold;
    background-color: #1e323b;
}
.subject > .button > input:hover {
    background-color: #0a1920;
}
.text > .button:hover {
    background-color: #071216;
}
.text > .button::after {
    content: '';
    clear: both;
    display: table;
}
.text > .button > input:not(:last-child) {
    border-right: none;
}
