
/* 메인 */
#main {
    margin-top: 2em;
    text-align: center;
    color: white;
    margin-bottom: 360px; /* 아래쪽 여백 설정 */
}

#main > #title {
    margin-top: 10px;
    font-size: 31px;
    margin-bottom: 20px;
}

#main > #btn > select {
    width: 120px;
    height: 60px;
    padding-left: 6px;
    border: 1px solid #999;
    font-family: inherit;
    background: url('../images/down-arrow.png') no-repeat 90% 53%;
    border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: rgb(100, 100, 100);
    font-size: 35px;
}
#main > #btn > select:-ms-expand {
    display: none;
}
#main > #btn {
    margin-bottom: 30px;
}

#main > #classtime {
    text-align: center;
    margin-bottom: 350px;
}
